@page
@model PetMingle.Areas.Identity.Pages.Account.CreateNewPasswordModel

<div class="col-xs-1 moving-bkg" align="center">
    <div class="text-start text-black form-wrapper" style="max-width:500px">
        <section class="form-section">
            <form id="account" method="post" style="height: 100%;">
                <h2 class="text-center mb-3">Change Password</h2>
                <ht class="form-ht" />

                <div>
                    <label asp-for="Input.Email" class="form-label"></label>

                    <input asp-for="Input.Email" class="form-control mb-3 site-acc-input" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                    <div asp-validation-summary="ModelOnly" class="text-danger" aria-required="true"></div>
                </div>
                <div>
                    <label asp-for="Input.NewPassword" class="form-label">New Password</label>
                    <input asp-for="Input.NewPassword" class="form-control mb-3 site-acc-input" oninput="CheckRequirements(this)" aria-required="true" />
                    <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                </div>

                <div class="register-pass-req">
                    Password Requirements:
                    <div class="pass-req" id="reqCap"> -At least 1 captial letter</div>
                    <div class="pass-req" id="reqLow"> -At least 1 lowercase letter</div>
                    <div class="pass-req" id="reqNum"> -At least 1 number</div>
                    <div class="pass-req" id="reqLen"> -At least 12 characters in length</div>
                </div>

                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary mt-4">Change</button>
                </div>
            </form>
        </section>
    </div>
</div>

<script type="text/javascript">
    function CheckRequirements(element) {
        var wrapper = document.querySelector(".register-pass-req");

        var cap = document.getElementById("reqCap");
        var isCap = false;
        var low = document.getElementById("reqLow");
        var isLow = false;
        var num = document.getElementById("reqNum");
        var isNum = false;
        var len = document.getElementById("reqLen");
        var isLen = false;

        var input = element.value;

        //regex
        var upperCaseLetters = /[A-Z]/g;
        var lowerCaseLetters = /[a-z]/g;
        var numbers = /\d+/g;

        //Cap check
        if (input.match(upperCaseLetters)) {
            cap.style.color = "#10b010";
            isCap = true;
        }
        else {
            cap.style.color = "red";
            isCap = false;
        }

        //Low check
        if (input.match(lowerCaseLetters)) {
            low.style.color = "#10b010";
            isLow = true;
        }
        else {
            low.style.color = "red";
            isLow = false;
        }

        //Num check
        if (input.match(numbers)) {
            num.style.color = "#10b010";
            isNum = true;
        }
        else {
            num.style.color = "red";
            isNum = false;
        }

        //Len check
        if (input.length >= 12) {
            len.style.color = "#10b010";
            isLen = true;
        }
        else {
            len.style.color = "red";
            isLen = false;
        }

        //Hides requirements
        if (isCap && isLow && isNum && isLen) {
            wrapper.style.display = "none";
        }
        else {
            wrapper.style.display = "block";
        }
    }
</script>